.env
.env.tmpl

node_modules
__snapshots__

.pnpm-store

*.zip
dist

.aws-sam
data

layers

src/**/*.json

.terraform
.terraform.lock.hcl

terraform.tfstate
terraform.tfstate.backup
*.backup
tfplan

# contains logs instead of s3 in local development
out

localstack-artifacts

.build

*.tmp
